:root:root {
  --van-sidebar-selected-border-height: 60px;
}

.van-card__price {
  color: var(--card-price-color,#ee0a24);
  display: inline-block;
  font-size: var(--card-price-font-size,12px);
  font-weight: 700;
}